* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #1e555c;
  text-align: center;
}
h1 {
  margin: 25px;
  color: #cfe0c3;
}
#container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#game {
  height: 60vh;
  width: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 25px;
  border: none;
}
.btn {
  height: 18vh;
  width: 18vh;
  border-radius: 10px;
  margin-right: 10px;
  border: none;
  margin: 5px;
  font-size: 8vh;
  background-color: #eeefa8;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 2);
}
#reset-btn {
  padding: 15px;
  font-size: 20px;
  margin: 25px;
  background-color: #b8dbd9;
  color: black;
  font-weight: bolder;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
#new-btn {
  padding: 15px;
  font-size: 15px;
  background-color: #bbacc1;
  color: black;
  font-weight: bolder;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
.msgContainer {
  color: whitesmoke;
  font-size: 30px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
.hide {
  display: none;
}
#msg {
  font-size: 50px;
  color: #f4ac32;
}
